body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

button {
  font-family: inherit;
}

@media (max-width: 767px) {
  .container {
    padding: 1rem;
  }
}
